body {
    width: 1440px;
    height: 900px;
    background: #ee6e33;

}

.container {
    position: absolute;
    width: 291px;
    height: 599px;

    left: 490px;
    top: -50px;
}

.rectangle1 {
    position: absolute;
    width: 289px;
    height: 597px;
    left: 329px;
    top: 260px;

    background: #1c1c1c;
    border: 5px solid #3f3f3f;
    border-radius: 45px;

    z-index: -1;
}

.screen {
    position: absolute;
    width: 258px;
    height: 448px;
    left: 350.5px;
    top: 334px;

    border-radius: 03px;
    background: #333;

    z-index: 2;
}

.rectangle2 {
    position: absolute;
    width: 260px;
    height: 61px;
    left: 350.05px;
    top: 721px;

    background: #fff;
    opacity: 0.0;
    backdrop-filter: blur(40px);
    z-index: 10;
}


.homescreen {
    position: absolute;
    left: 350.5px;
    top: 398.5px;

    opacity: 0;
    z-index: 11;
}

.turnOn {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 455px;
    top: 800px;

    border-radius: 50px;
    background: #000;
    border: 3px solid #939393;

    z-index: 3;
}

.button-top1 {
    position: absolute;
    width: 9px;
    height: 9px;
    left: 469px;
    top: 276px;

    border-radius: 50px;
    background: #3e3e3e;

    z-index: 4;
}

.button-top2 {
    position: absolute;
    width: 46px;
    height: 5px;
    left: 451px;
    top: 293px;

    border-radius: 50px;
    background: #3e3e3e;

    z-index: 5;
}

.button-top3 {
    position: absolute;
    width: 9px;
    height: 9px;
    left: 423px;
    top: 292px;

    border-radius: 50px;
    background: #3e3e3e;

    z-index: 6;
}


.turnOff {
    position: absolute;
    width: 6.5px;
    height: 46px;
    left: 625.8px;
    top: 381px;

    border-radius: 6px;
    background: #252525;

    z-index: 9;
}

.button-side2 {
    position: absolute;
    width: 3px;
    height: 14px;
    left: 326.7px;
    top: 361px;

    border-radius: 6px;
    background:#252525;

    z-index: -3;
}

.button-side3 {
    position: absolute;
    width: 7px;
    height: 38px;
    left: 325.5px;
    top: 399px;

    border-radius: 6px;
    background: #252525;

    z-index: -4;
}

.button-side4 {
    position: absolute;
    width: 7px;
    height: 38px;
    left: 325.5px;
    top: 441px;

    border-radius: 6px;
    background: #252525;

    z-index: -5;
}


